body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Tahoma, Geneva, sans-serif, 'Hiragino Sans GB', 'microsoft Yahei', 'SimHei', 'SimSun';
  vertical-align: baseline;
  line-height: 1.75;
  overflow-y: hidden
}
a:visited {text-decoration: none;}
a:link {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
@media only screen and (min-device-width: 1025px) {
  .container { min-width: 78.57em;}
}
.wrap {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: #fff;
  z-index: 9999;
  overflow: hidden;
}
.menu {
  display: none;
  position: fixed;
  right: 1em;
  top: 1em;
  width: 50px;
  height: 50px;
  background: url(../img/menu.gif);
  z-index: 1000;
}
.menu:hover { cursor: pointer;}
.aside-menu {
  position: fixed;
  display: none;
  right: 0;
  height: 100vh;
  width: 20em;
  background: #333;
  z-index: 1000;
}
.aside-menu dl {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
.aside-menu dl dd { margin: 3em 0;}
.aside-menu dl dd a {font-size: 1.5em; color: #aaa;}
.aside-menu dl dd a:hover {cursor: pointer; color: #fff;}
.myClose {
  position: absolute;
  width: 1.5em;
  height: 3.5em;
  background: #333;
  left: -1.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.1em;
  color: #fff;
  outline: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: none;
}
.banner { position: relative;}
.bg {
  width: 100%;
  height: 100vh;
  background-image: url(../img/banner-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(5px);
  -webkit-animation: fadeIn 1.5s;
          animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1; filter: blur(5px) }
}
@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1; filter: blur(5px) }
}
.welcome {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  -webkit-user-select: none;
        user-select: none;
}
.more {
  position: absolute;
  bottom: 6em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2em;
  color: #fff; 
  -webkit-user-select: none;
          user-select: none;
}
.more:hover {color: #aaa; cursor: pointer}
.more::after {
  content: '';
  position: absolute;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  bottom: -2em;
  width: 1.5em;
  height: 1.5em;
  left: 50%;
  margin: 0 0 0 -0.75em;
  animation: slideToggle .8s infinite;
  -webkit-animation: slideToggle .8s infinite;
}
@-webkit-keyframes slideToggle {
  from {bottom: -1.3em;}
  to {bottom: -2em;}
}
@keyframes slideToggle {
  from {bottom: -1.3em;}
  to {bottom: -2em;}
}
.title {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}
.title::after {
  content: '';
  border: 2px dashed #aaa;
  position: absolute;
  left: 15%;
  top: 0.5em;
  width: 85%;
}
#projects {
  display: flex;
  flex-flow: row wrap;
}
.project {
  position: relative;
  width: 20%;
  height: 15.71em;
  padding: 5px;
  overflow: hidden;
}
.project:hover {
  cursor: pointer;
}
.description {
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 96%;
  height: 15em;
  margin: 5px 10px 10px 5px;
  background: rgba(51, 51, 51, .8);
  color: #fff;
  text-align: center;
}
.description p {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.description span {
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: #aaa;
}
.project img {
  width: 100%;
  height: 100%;
}
#introduce {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start
}
#introduce .left {
  /* display: inline-block; */
  width: 70%;
  padding: 10px;
  border: 1px solid #eee;
}
#introduce .left p {
  text-indent: 2em;
}
#introduce .right {
  /* display: inline-block; */
  width: 30%;
  padding: 10px;
  border: 1px solid #eee;
  border-left: none;
}
.portrail {
  margin: 0 auto;
  height: 6.25em;   
  width: 6.25em;  
}
.portrail img {
	max-width: 6.25em; 
	height: 6.25em;
	border-radius: 50%;
}
.myInfor {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}
footer {
  height: 5em;
  width: 100%;
  margin-top: 2em;
  background: #333;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}